.section {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 15px;
  padding: 12px 13px;
  color: #000000;
  text-align: left;
}

.sectionTitle {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: normal;
  color: #48657d;
  margin-top: 0; /* Removes unnecessary space above */
}

@media (width<=640px) {
  .sectionTitle {
    font-size: 20px;
  }
}
