.header {
  background-color: #48657d;
  align-items: center;
  height: 67px;
  padding: 0 16px;
  display: flex;
}

.menuButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.title {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
}
