.container {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  position: relative;
  min-height: 1000px;
  font-family: Geologica, sans-serif;


}

@media (width<=991px) {
  .container {
    max-width: 100%;
  }
}

.mainContent {
  flex-direction: column;
  gap: 34px;
  padding: 20px;
  display: flex;
}

@media (width<=640px) {
  .mainContent {
    padding: 10px;
  }
}
