.card {
  border-radius: 20px;
  border: 1px solid #dadada;
  display: flex;
  min-height: 84px;
  width: 95%;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: Geologica, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  color: #1e1e1e;
  font-family:
    Geologica,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.date {
  color: #1e1e1e;
  font-family:
    Geologica,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 0;
}

