.profileItem {
  align-items: center;
  gap: 26px;
  margin-bottom: 12px;
  display: flex;
}

.profileImage {
  border: 1px solid #000;
  border-radius: 100px;
  width: 40px;
  height: 39px;
}

.profileInfo {
  white-space: pre-line;
  font-size: 16px;
}

@media (width<=640px) {
  .profileInfo {
    font-size: 14px;
  }
}
