.wideButton {
  width: 95%;
  min-height: 34px;
  padding: 2px 12px;
  font-family:
    Geologica,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: white;
  background:  #48657d;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 8px;
  justify-self: center;
}

.wideButton:hover {
  background-color: #304353;
  color: #f5f5f5;
}